@font-face{
    font-family: "Futura";
    src: url('FuturaHandwritten.ttf');
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #0a0d11;
    font-family: 'Futura', sans-serif;
    font-size: 20px;
    min-width: 1000px;
    min-height: 600px;
}

canvas {
    position: absolute;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.day-select-bar {
    position: absolute;
    width: 960px;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.day-select-button {
    height: 25px;
    width: 25px;
    opacity: 1;
    font-size: 15px;
    border-radius: 100%;
    border: 2px solid #FFF;
    cursor: pointer;

    display: flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Futura', sans-serif;
    transition: all 0.3s ease-in-out;
}

.button-out{
    opacity: 0;
}

.loading-screen {
    color: #FFFFFF;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.day-select-button:hover {
    background-color: #FFF;
    color: #000;
}

.button-active {
    background-color: #FFF;
    color: #000;
}
